$brand-dot-aurora-overflow: -150px;

.brand-dot {
  width: 150px;
  height: 150px;
  position: relative;

  &-aurora {
    background: rgba(255, 0, 0, 0.05);
    position: absolute;
    top: $brand-dot-aurora-overflow;
    bottom: $brand-dot-aurora-overflow;
    left: $brand-dot-aurora-overflow;
    right: $brand-dot-aurora-overflow;

    border-radius: 50%;
  }

  &-kernel-modifier {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: transform .5s ease;
  }

  &-kernel {
    background: rgba(255, 0, 0, 0.2);
    border: 2px red solid;

    box-shadow: rgba(0,0,0,.1) 0 2px 6px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 50%;
  }
}

header {
  margin-top: 100px;
  height: 150px;
  margin-bottom: 200px;
  width: max-content;

  &.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
  }
}

.brand {
  display: flex;
  align-items: center;

  &-text {
    margin-left: 50px;
    flex: 1;
    position: relative;

    transition: transform .5s ease-out, opacity .5s ease-out;

    &-main {
      @include serif;
      font-weight: 900;
      font-size: 72px;
      margin: 0;
    }

    small {
      @include monospace;
      font-size: 36px;
      font-weight: 500;
      color: rgba(0,0,0,.54);
    }
  }
}

nav {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 24px;
  color: rgba(0,0,0,1);
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: transform .2s ease-out, opacity .2s ease-out;
  transition-delay: .3s, .3s;

  a {
    text-decoration: none;;
    cursor: pointer;
    opacity: .54;
    transition: opacity .2s ease;
    color: black;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      cursor: default;
    }
  }
}

.header-fixed {
  .brand-dot-kernel {
    cursor: pointer;
  }

  .brand-text {
    transition-timing-function: ease-in, ease-in;

    transform: translateX(-50px);
    opacity: 0;
  }

  nav {
    transition-timing-function: ease-in, ease-in;
    transition-delay: 0s, 0s;

    transform: translateY(-50px);
    opacity: 0;
  }

  .brand-dot-kernel-modifier {
    transition-delay: .2s;
    transform: scale(.5);
  }
}

.nav-split {
  margin: 0 20px;
  @include monospace;
  opacity: .38;
}

.column {
  max-width: 1200px;
  padding: 60px 80px;
  position: relative;
  margin: 0 auto;
}

.page {
  position: absolute;
  top: 450px + 60px;
  left: 80px;
  right: 80px;
  padding-bottom: 200px;
}