@import './fonts.scss';
@import './prop.css';
@import './title.scss';
@import './post.scss';
@import './list.scss';

body {
  margin: 0;
  @include sans;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  background: #F9F9F9;
  /*
  background: linear-gradient(
    45degtr
    rgb(6, 236, 167),
    rgb(247, 171, 109)
  );
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
  width: 100vw;
}

.spring {
  flex: 1;
}