@import './fonts.scss';
@import './prop.css';
@import './title.scss';
@import './post.scss';
@import './list.scss';
@import './home.scss';
@import './about.scss';

body {
  margin: 0;
  @include sans;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  /*
  background-image: linear-gradient(
    45deg,
    change-color(#FFF6B7, $alpha: .5) 10%,
    change-color(#F6416C, $alpha: .5) 100%
  );
  */
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.spring {
  flex: 1;
}