.list-title {
  width: 100%;
  height: 60px;

  &-hidden {
    display: none;
  }
}

.list-entry {
  padding: 20px 0;
  cursor: pointer;

  &-date {
    @include monospace;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0,0,0,.54);
    margin-bottom: 6px;
  }

  canvas {
    width: 100%;
    position: absolute;

    &.list-entry-canvas-hidden {
      opacity: 0;
    }
  }

  &-bar {
    height: 1px;
    position: relative;
    background: rgba(0,0,0,.1);

    margin-top: 54px;

    clip-path: polygon(0 -10px, 100% -10px, 100% 10px, 0 10px);

    &:before {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      top: 0;
      background: black;
      transform: translateX(-105%);
      transition: transform .2s ease;
    }
  }

  $cls: &;
  &:hover {
    #{$cls}-bar {
      &:before {
        transform: none;
      }
    }
  }
}