$shade-diag-dist: 200px;

#title-global {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &.title-global-hidden {
    opacity: 0;
  }

  clip-path: polygon(0 0, calc(100% + #{$shade-diag-dist}) 0, 100% 100%, 0 100%);
  transition: clip-path 1.5s ease;

  &.title-global-clipped {
    clip-path: polygon(-#{$shade-diag-dist} 0, 0 0, -#{$shade-diag-dist} 100%, -#{$shade-diag-dist} 100%);
  }
}

#title-global-shaded {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  z-index: 20;

  transform: scaleY(-1);

  clip-path: polygon(
    100% 0,
    calc(100% + #{$shade-diag-dist}) 0,
    calc(100% + #{$shade-diag-dist}) 100%,
    calc(100% + #{$shade-diag-dist}) 100%
  );
  transition: clip-path 1.5s ease;

  &.title-global-shaded-shown {
    clip-path: polygon(
      -#{$shade-diag-dist} 0,
      100% 0,
      100% 100%,
      0 100%
    );
  }
}

.title-global-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;

  background: #CCC;
  clip-path: polygon(calc(100% + #{$shade-diag-dist}) 0, calc(100% + #{$shade-diag-dist}) 0, calc(100% + #{$shade-diag-dist}) 100%, 100% 100%);
  transition: clip-path 1.5s ease;

  &-shown {
    clip-path: polygon(0 0, 100% 0, 100% 100%, -#{$shade-diag-dist} 100%);
  }
}