@property --x {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --y {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --optical-scale {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --dx {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --dy {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}
